body{
    font-family: 'Amaranth', sans-serif;
    background:rgb(243, 237, 250);
    font-size: 1.2rem;
}

.navbar-line{
    border-top: 1px solid rgb(98, 230, 172);
}

.title{
    background: #A1FFCB;
}
.logo{
    max-height: 35vh;
    max-width: 35vw;
}

.presentation{
    background:rgba(234, 224, 258, 0.438) ;
    padding: 20px;
    border: solid;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.imagenhome{
    border-radius: 600px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.portadas{
    max-height: 40vh;
    max-width: 40vw;
    cursor: pointer;
}
.fotoposteo{
    max-height: 30vh;
    max-width: 30vw;
}